.header{
    text-align: center;
    padding-bottom:10px;
}

.rightbody{
    float:right;
    margin-right: 20px;
}

.img{
    padding-left:20px;
}

.video{
    text-align:center;
    padding-top: 30px;
}